<ngx-dnd-container class="root-container" [model]="targetBuilder" dropZone="builder-target" [removeOnSpill]="true"
  (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)" (remove)="log($event)">

  <ng-template let-model="model" let-template="template">
    <div [ngSwitch]="model.inputType">
      <div *ngSwitchCase="'section'">
        <ngx-section class="shadow" [sectionTitle]="model.name">
          <ngx-dnd-container dropZone="builder-target" [model]="model.children" [removeOnSpill]="true" [template]="template"
            (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)" (remove)="log($event)">
          </ngx-dnd-container>
        </ngx-section>
      </div>
      <div *ngSwitchDefault>
        <!-- <ngx-input [type]="model.inputType" [hint]="model.name" [autofocus]="false" [ngModel]="model.data">
                    </ngx-input> -->
        <input [type]="model.inputType" [name]="model.name" [autofocus]="false" [ngModel]="model.data">
      </div>
    </div>
  </ng-template>
</ngx-dnd-container>