<div class="card mb-3">
  <div class="card-header">web design editor example</div>
  <div class="card-body">
    <app-web-design-editor
      [sourceModel]="sourceData"
      [targetModel]="targetData"
      [serviceApi]="apiList">
    </app-web-design-editor>
    <!-- <p>
        {{targetBuilder | json}}
    </p> -->
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">editor target view example</div>
  <div class="card-body">
    <app-layout-target [model]="targetData"></app-layout-target>
  </div>
</div>