body {
    /* background-color: #f7f7f7 !important; */
}

.page-header {
    margin-bottom: 20px;
}

.page-silder {}

.page-wraper {}

.page-footer {}

.quickbar {}

.container {
    padding: 1rem;
}

.table label {
    margin-bottom: 0 !important;
}

.table td,
.table th {
    vertical-align: middle !important;
}

.btn:not(.btn-default) {
    color: #fff !important;
}