<div class="form-group row">
  <label class="col-sm-4 col-form-label text-right">{{editorService.getEditorValueBy(model,'label') | transNull:'label'}}</label>
  <div class="col-sm-8">
    <ng-container [ngSwitch]="editorService.getEditorValueBy(model,'type')">
      <ng-container *ngSwitchCase="'number'">
        <input type="number" [name]="model.name" class="form-control" [placeholder]="editorService.getEditorValueBy(model,'placeholder') | transNull:'placeholder'">
      </ng-container>
      <ng-container *ngSwitchCase="'password'">
        <input type="password" [name]="model.name" class="form-control" [placeholder]="editorService.getEditorValueBy(model,'placeholder') | transNull:'placeholder'">
      </ng-container>
      <ng-container *ngSwitchDefault>
        <input type="text" [name]="model.name" class="form-control" [placeholder]="editorService.getEditorValueBy(model,'placeholder') | transNull:'placeholder'">
      </ng-container>
    </ng-container>
  </div>
</div>
<!-- <app-item-mask></app-item-mask> -->
