<div class="row mb-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Template-Driven Form</div>
            <div class="card-body">
                <!-- start -->
                <div class="row">
                    <div class="col-sm-6">
                        <form #heroForm="ngForm">

                            <div class="form-group">
                                <label for="name2">Name</label>
                                <input id="name2" name="name" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="hero.name" #name="ngModel">

                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                                    <div *ngIf="name.errors.required">
                                        Name is required.
                                    </div>
                                    <div *ngIf="name.errors.minlength">
                                        Name must be at least 4 characters long.
                                    </div>
                                    <div *ngIf="name.errors.forbiddenName">
                                        Name cannot be Bob.
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="alterEgo2">Alter Ego</label>
                                <input id="alterEgo2" class="form-control" name="alterEgo" [(ngModel)]="hero.alterEgo">
                            </div>

                            <div class="form-group">
                                <label for="power2">Hero Power</label>
                                <select id="power2" name="power" class="form-control" required [(ngModel)]="hero.power" #power="ngModel">
                                      <option *ngFor="let p of powers" [value]="p.id">{{p.title}}</option>
                                    </select>

                                <div *ngIf="power.errors && power.touched" class="alert alert-danger">
                                    <div *ngIf="power.errors.required">Power is required.</div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-default" [disabled]="heroForm.invalid">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button type="button" class="btn btn-default" (click)="heroForm.resetForm({})">Reset</button>

                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="submitted-message" *ngIf="heroForm.submitted">
                            <p>You've submitted your hero, {{ heroForm.value.name }}!</p>
                            <button (click)="heroForm.resetForm({})">Add new hero</button>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</div>