<el-radio-group [(model)]="changeServiceType" [size]="editorService.ATTRIB_FORM_SIZE">
  <el-radio-button label="0" [(model)]="changeServiceType">系统</el-radio-button>
  <el-radio-button label="1" [(model)]="changeServiceType">自定义</el-radio-button>
</el-radio-group>
<el-input *ngIf="changeServiceType==='1'" type="textarea" [rows]="3" placeholder="api service path">
</el-input>
<el-select *ngIf="changeServiceType==='0'" [size]="editorService.ATTRIB_FORM_SIZE">
  <el-option *ngFor="let api of serviceApi" [label]="api.name" [value]="api.url">
  </el-option>
</el-select>
