<div appDroppable [dropZone]="dropZone" [model]="model" [copy]="copy" [ngClass]="{ 'gu-empty': !model?.length ,'editMode':isEdit}" [removeOnSpill]="removeOnSpill"
  class='app-container-contents'>
  <ng-container *ngIf="model">
    <ng-container *ngFor="let item of model">
      <app-item appDraggable [isEdit]="isEdit" [showLabel]="showLabel" [model]="item" [dropZone]="dropZone" [dropZones]="dropZones" [copy]="copy" [moves]="moves"
        [removeOnSpill]="removeOnSpill" [droppableItemClass]="droppableItemClass">
      </app-item>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!model">
    <ng-content>
    </ng-content>
  </ng-container>
</div>
