<el-menu [model]="editorService.getEditorValueBy(model,'selectIdx')"
  (modelChange)="handle($event)"
  [mode]="editorService.getEditorValueBy(model,'mode')"
  [menu-trigger]="editorService.getEditorValueBy(model,'menuTrigger')"
  [background-color]="editorService.getEditorValueBy(model,'backgroundColor')"
  [text-color]="editorService.getEditorValueBy(model,'textColor')"
  [active-text-color]="editorService.getEditorValueBy(model,'activeTextColor')">
  <el-menu-item index="1">处理中心</el-menu-item>
  <el-submenu index="2" title="我的工作台">
    <el-menu-item index="2-1">选项1</el-menu-item>
    <el-menu-item index="2-2">选项2</el-menu-item>
    <el-menu-item index="2-3">选项3</el-menu-item>
  </el-submenu>
  <el-menu-item index="3">
    <a href="https://github.com/eleme/element-angular" target="_blank">GITHUB</a>
  </el-menu-item>
</el-menu>
<app-item-mask></app-item-mask>
