<app-container class="target-container" [isEdit]="isEdit" [showLabel]="showLabel" [moves]="isEdit" [model]="model" [dropZone]="dropZone"
  [removeOnSpill]="true" (drag)="editorService.log($event)" (drop)="editorService.log($event)" (over)="editorService.log($event)"
  (out)="editorService.log($event)" (remove)="editorService.log($event)">

  <ng-template let-model="model" let-template="template">
    <ng-container [ngSwitch]="model.code">
      <!-- card: container-column -->
      <ng-container *ngSwitchCase="'container-columns'">
        <app-container-columns [model]="model" [isEdit]="isEdit" [showLabel]="showLabel" [dropZone]="dropZone" [template]="template"></app-container-columns>
      </ng-container>
      <!-- card: container-card -->
      <ng-container *ngSwitchCase="'container-panel'">
        <app-container-panel [model]="model" [isEdit]="isEdit" [showLabel]="showLabel" [dropZone]="dropZone" [template]="template"></app-container-panel>
      </ng-container>
      <!-- card: form-input-group -->
      <ng-container *ngSwitchCase="'card-input-group'">
        <app-card-input-group [model]="model"></app-card-input-group>
      </ng-container>
      <!-- card: control-iframe -->
      <ng-container *ngSwitchCase="'card-iframe'">
        <app-card-iframe [model]="model"></app-card-iframe>
      </ng-container>
      <!-- nofound -->
      <ng-container *ngSwitchDefault>
        <ng-container *ngIf="isEdit">
          <app-card-error [model]="model"></app-card-error>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</app-container>
