<app-container class="target-container" [isEdit]="isEdit" [showLabel]="showLabel" [moves]="isEdit" [model]="model" [dropZone]="dropZone"
  [removeOnSpill]="true" (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)" (remove)="log($event)">

  <ng-template let-model="model" let-template="template">
    <ng-container [ngSwitch]="model.code">
      <!-- card: container-column -->
      <ng-container *ngSwitchCase="'container-column'">
        <div class="row" style="padding:1.25em;">
          <div [class]="getEditorValueBy(model,'columnClass')" *ngFor="let content of model.contents">
            <app-container [isEdit]="isEdit" [showLabel]="showLabel" [moves]="isEdit" [dropZone]="dropZone" [model]="content"
              [removeOnSpill]="true" [template]="template" (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)"
              (remove)="log($event)">
            </app-container>
          </div>
        </div>
      </ng-container>
      <!-- card: container-card -->
      <ng-container *ngSwitchCase="'container-card'">
        <div class="card">
          <div class="card-header">{{getEditorValueBy(model,'title')}}</div>
          <div class="card-body">
            <app-container [isEdit]="isEdit" [showLabel]="showLabel" [moves]="isEdit" [dropZone]="dropZone" [model]="model.contents"
              [removeOnSpill]="true" [template]="template" (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)"
              (remove)="log($event)">
            </app-container>
          </div>
        </div>
      </ng-container>
      <!-- card: form-input-group -->
      <ng-container *ngSwitchCase="'control-input-group'">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label text-right">{{getEditorValueBy(model,'label')}}</label>
          <div class="col-sm-8">
            <input [type]="getEditorValueBy(model,'type')" [name]="model.name" class="form-control" [placeholder]="getEditorValueBy(model,'placeholder')">
          </div>
        </div>
      </ng-container>
      <!-- card: control-iframe -->
      <ng-container *ngSwitchCase="'control-iframe'">
        <iframe src="about:blank" frameborder="0" marginwidth="0" marginheight="0" width="100%" onload="this.height =  this.contentWindow.document.documentElement.scrollHeight"></iframe>
      </ng-container>
      <!-- nofound -->
      <ng-container *ngSwitchDefault>
        <ng-container *ngIf="isEdit">
          <!-- <input [type]="model.type" [name]="model.name" [autofocus]="false" [ngModel]="model.data"> -->
          <div class="alert alert-danger" style="margin-bottom: 0;">
            <h5>Error [{{model.code}}]</h5>
            <p>the cards is offline or reset version, please show it in card-market and reset it ! the error card is not showed
              in product place.</p>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</app-container>
