<div class="row mb-3">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">my ngx-dnd</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h4>Source</h4>
            <app-sourceItems></app-sourceItems>
            
          </div>
          <div class="col-sm-6">
            <h4>Target</h4>
            <app-targetItems [$targetBuilder]="targetBuilder"></app-targetItems>
            
          </div>
          <div class="col-sm-3">
            <h3>Model</h3>
            <pre><code>{{targetBuilder | json}}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
