<div class="row mb-3">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">my ngx-dnd</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h4>Source</h4>

            <ngx-dnd-container class="root-container" [model]="sourceBuilderTools" [dropZones]="['builder-target']" [copy]="true" [droppableItemClass]="droppableItemClass"
              (drag)="builderDrag($event)">

              <ng-template let-item="model">
                <ngx-icon [fontIcon]="item.icon"></ngx-icon>
                {{item.name}}
              </ng-template>
            </ngx-dnd-container>
          </div>
          <div class="col-sm-6">
            <h4>Target</h4>

            <ngx-dnd-container class="root-container" [model]="targetBuilderTools" dropZone="builder-target" [removeOnSpill]="true" [droppableItemClass]="droppableItemClass"
              (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)" (remove)="log($event)">

              <ng-template let-model="model" let-template="template">
                <div [ngSwitch]="model.inputType">
                  <div *ngSwitchCase="'section'">
                    <ngx-section class="shadow" [sectionTitle]="model.name">
                      <ngx-dnd-container dropZone="builder-target" [model]="model.children" [removeOnSpill]="true" [template]="template" [droppableItemClass]="droppableItemClass"
                        (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)" (remove)="log($event)">
                      </ngx-dnd-container>
                    </ngx-section>
                  </div>
                  <div *ngSwitchDefault>
                    <!-- <ngx-input [type]="model.inputType" [hint]="model.name" [autofocus]="false" [ngModel]="model.data">
                    </ngx-input> -->
                    <input [type]="model.inputType" [name]="model.name" [autofocus]="false" [ngModel]="model.data">
                  </div>
                </div>
              </ng-template>
            </ngx-dnd-container>
          </div>
          <div class="col-sm-3">
            <h3>Model</h3>
            <pre><code>{{targetBuilderTools | json}}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
