
<div class="design-editor" [ngClass]="{'openSilder': editorService.openSilder}">
  <div class="header gu-unselectable">
    <app-layout-toolbar></app-layout-toolbar>
  </div>
  <div class="silder">
    <app-layout-source [model]="sourceModel" [dropZones]="dropZones" [isEdit]="editorService.isEdit"></app-layout-source>
  </div>
  <div class="wraper">
      <app-layout-code *ngIf="editorService.editorView=='CODE'" [model]="targetModel"></app-layout-code>
      <app-layout-target *ngIf="editorService.editorView=='TAEGET'" [model]="targetModel" [dropZone]="dropZone" [isEdit]="editorService.isEdit" [openCardLabel]="editorService.openCardLabel"></app-layout-target>
  </div>
  <div class="footer"></div>
</div>
