<div class="design-editor" [ngClass]="{'showSilder': editorService.showSilder, 'fullscreen':editorService.isFullscreen}">
  <div class="header gu-unselectable">
    <app-layout-toolbar></app-layout-toolbar>
  </div>
  <div class="silder">
    <div class="silder-header">
      <ul>
        <li [ngClass]="{'active':editorService.optionMode=='SOURCE'}">
          <a (click)="editorService.optionMode='SOURCE'">卡片库</a>
        </li>
        <li [ngClass]="{'active':editorService.optionMode=='ATTRIB'}">
          <a (click)="editorService.optionMode='ATTRIB'">属性</a>
        </li>
      </ul>
    </div>
    <div class="silder-wraper">
      <app-layout-source *ngIf="editorService.optionMode=='SOURCE'" [model]="sourceModel" [dropZones]="dropZones" [isEdit]="editorService.isEdit"></app-layout-source>
      <app-layout-attrib *ngIf="editorService.optionMode=='ATTRIB'" [model]="selectModel"></app-layout-attrib>
    </div>
  </div>
  <div class="wraper">
    <app-layout-code *ngIf="editorService.displayMode=='CODE'" [model]="targetModel"></app-layout-code>
    <app-layout-target *ngIf="editorService.displayMode=='TAEGET'" [model]="targetModel" [dropZone]="dropZone" [isEdit]="editorService.isEdit"
      [showLabel]="editorService.showLabel"></app-layout-target>
  </div>
  <div class="footer">
    <app-layout-cascade [model]="casCadeModel"></app-layout-cascade>
  </div>
</div>
