/**
GLOBEL CSS
**/
label{
  margin:0px;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.gu-moved {
  background-color: #e74c3c;
}

.gu-over {
  background-color: rgba(254, 190, 190, 1) !important;
  border-color: #e74c3c !important;
}

/**
DESIGN EDITOR CSS
**/

.design-editor {
  border: 1px solid #d4d4d4;
  margin: -1px;
  min-height: 420px;
  background-color: rgb(43, 43, 43);
  position: relative;
  overflow: hidden;
  &.fullscreen{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  &.showSilder>.silder {
    display: block;
  }
  &.showSilder>.wraper {
    right: 240px;
  }
  >.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 32px;
    height: 46px;
    padding: 6px 10px;
    border-bottom: 1px solid #d4d4d4;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
  }
  >.silder {
    position: absolute;
    display: none;
    top: 46px;
    bottom: 24px;
    right: 0;
    width: 240px;
    background-color: rgba(255, 255, 255, .95);
    border-left: 1px solid #d4d4d4;
    >.silder-header {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        list-style-type: none;
        display: flex;
        border-bottom: 1px solid #d4d4d4;
      }
      ul li {
        margin: 0;
        padding: 0;
        list-style: none;
        list-style-type: none;
        flex: 1;
        text-align: center;
        line-height: 24px;
        font-size: 12px;
        &.active {
          border-left: 1px solid #d4d4d4;
          border-right: 1px solid #d4d4d4;
          background-color:#007bff;
          color: #fff;

        }
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
        >a {
          display: block;
          padding: 4px;
          cursor: default;
        }
      }
    }
    >.silder-wraper {
      position: absolute;
      padding: 5px;
      top: 33px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      background-color: #fff;
    }
  }
  >.wraper {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 24px;
    overflow: auto;
    padding: 20px 20px 0 20px;
    >app-layout-code {}
    >app-layout-target {}
  }
  >.footer {
    position: absolute;
    line-height: 24px;
    font-size: 12px;
    height: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 0 1em;
    background-color: rgb(30, 30, 30);
  }
}

.design-editor-silder-tab {
  height: 100%;
  background-color: red;
}
