.app-item {
  /*margin: 10px;
  padding: 10px;*/
  /*background-color: rgba(0, 0, 0, 0.2);*/
  transition: opacity 0.4s ease-in-out;
  /*border: 1px solid lightblue;*/
  display: block;
  &:not(.has-handle):not(.move-disabled),
  &.has-handle [appdraghandle],
  &.has-handle [appDragHandle] {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  .app-content {
    user-select: none;
  } // &:hover {
  //   border: 1px solid blue;
  // }
  .app-item-contents {
    position: relative;
    border:1px solid rgba(255, 156, 27,.9);
    .app-item-contents-label {
      position: absolute;
      padding: .125em .5em;
      margin-bottom:1px;
      line-height: 1.5em;
      top: -1.75em;
      left:-1px;
      font-size: 9px;
      background-color: rgba(255, 156, 27,.9);
      color: #fff;
    }
    .app-item-contents-toolbar {}
  }
}
