.app-item {
  /*margin: 10px;
  padding: 10px;*/
  /*background-color: rgba(0, 0, 0, 0.2);*/
  transition: opacity 0.4s ease-in-out;
  /*border: 1px solid lightblue;*/
  display: block;
  &:not(.has-handle):not(.move-disabled),
  &.has-handle [appdraghandle],
  &.has-handle [appDragHandle] {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  &.gu-selected {
    >.app-item-contents {
      border-color: rgba(255, 156, 27, .9) !important;
      >.app-item-contents-label {
        background-color: rgba(255, 156, 27, .9);
      }
    }
  }
  .app-content {
    user-select: none;
  } // &:hover {
  //   border: 1px solid blue;
  // }
  .app-item-contents {
    position: relative;
    border: 2px solid rgba(27, 145, 255, 0.9);
    &.showLabel {
      .app-item-contents-label {
        display: block;
      }
    }
    .app-item-contents-label {
      position: absolute;
      display: none;
      padding: .125em .5em;
      margin-top: -2px;
      line-height: 1.5em;
      top: -1.75em;
      left: -2px;
      font-size: 9px;
      background-color: rgba(27, 145, 255, 0.9);
      color: #fff;
    }
    .app-item-contents-toolbar {}
  }
}
