.card-item {
  /*margin: 10px;
  padding: 10px;*/
  /*background-color: rgba(0, 0, 0, 0.2);*/
  transition: opacity 0.4s ease-in-out;
  /*border: 1px solid lightblue;*/
  display: block;
  &:not(.has-handle):not(.move-disabled),
  &.has-handle [appdraghandle],
  &.has-handle [appDragHandle] {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  &.gu-selected {
    >.card-item-contents {
      border-color: rgba(255, 156, 27, .9) !important;
      >.card-item-contents-label {
        background-color: rgba(255, 156, 27, .9);
      }
    }
  }
  .app-content {
    user-select: none;
  } // &:hover {
  //   border: 1px solid blue;
  // }
  .card-item-contents {
    position: relative;
    border: 1px dashed rgba(27, 145, 255, 0.9);
    &.showLabel {
      .card-item-contents-label {
        display: block;
      }
    }
    .card-item-contents-masker {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0);
    }
    .card-item-contents-label {
      position: absolute;
      display: none;
      padding: .25em;
      line-height: 1em;
      top: -1.5em;
      left: -2px;
      font-size: 12px;
      font-weight: 100;
      background-color: rgba(27, 145, 255, 0.9);
      color: #fff;
    }
    .card-item-contents-label>span {
      display: inline-block;
      -webkit-transform: scale(.75);
      -moz-transform: scale(.75);
      -o-transform: scale(.75);
    }
    .card-item-contents-toolbar {}
  }
}
