<!-- 根据数据类型区分单卡、多卡 -->
<ng-container [ngSwitch]="type">
  <!-- 当数据类型为array（多卡）时，重复调用容器 -->
  <ng-container *ngSwitchCase="'array'">
    <app-container [model]="model" [template]="container.template" [dropZone]="dropZone" [dropZones]="dropZones" [removeOnSpill]="removeOnSpill"
      [droppableItemClass]="droppableItemClass" [copy]="copy">
    </app-container>
  </ng-container>
  <!-- 当数据类型为object（单卡）时，显示卡内容 -->
  <ng-container *ngSwitchCase="'object'">
    <!-- 显示有卡片模板的 -->
    <ng-container *ngIf="container.template">
      <div *ngIf="isEdit" class="app-item-contents">
        <div class="app-item-contents-label">{{model.name}}</div>
        <!-- 卡片内容 start -->
        <ng-template [ngTemplateOutlet]="container.template" [ngTemplateOutletContext]="data">
        </ng-template>
        <!-- 卡片内容 end -->
      </div>
      <ng-template *ngIf="!isEdit" [ngTemplateOutlet]="container.template" [ngTemplateOutletContext]="data">
      </ng-template>
    </ng-container>
    <!-- 显示无卡片模板的 -->
    <ng-container *ngIf="!container.template">
      <div class="app-content">
        {{model.name}}
      </div>
      <app-container *ngIf="model.children" [model]="model.children" [template]="container.template" [dropZone]="dropZone" [dropZones]="dropZones"
        [removeOnSpill]="removeOnSpill" [droppableItemClass]="droppableItemClass" [copy]="copy">
      </app-container>
    </ng-container>
  </ng-container>
  <!-- 当数据类型无法判断时，显示的内容 -->
  <ng-container *ngSwitchCase="'undefined'">
    Error
  </ng-container>

  <ng-container *ngSwitchDefault>
    <ng-template *ngIf="container.template" [ngTemplateOutlet]="container.template" [ngTemplateOutletContext]="data">
    </ng-template>
    <div *ngIf="!container.template" class="ngx-dnd-content">
      {{model}}
    </div>
  </ng-container>

</ng-container>
