<div class="card">
  <div class="card-header">{{editorService.getEditorValueBy(model,'title')}}</div>
  <div class="card-body">
    <app-container [isEdit]="isEdit" [showLabel]="showLabel" [moves]="isEdit" [dropZone]="dropZone" [model]="model.contents"
      [removeOnSpill]="true" [template]="template" (drag)="editorService.log($event)" (drop)="editorService.log($event)" (over)="editorService.log($event)"
      (out)="editorService.log($event)" (remove)="editorService.log($event)">
    </app-container>
  </div>
</div>